body {
    display: grid;
    height: -webkit-fill-available;
    background-image: url(https://source.unsplash.com/1500x900/?train);
    background-size: cover;

}
.title{
  background: #000000a0;
  text-align:center;
  border-radius: 20px;
  width: 100%;
  max-width: 900px;
  margin: 1em;
  margin-top: 0em;
  margin-left: 0.7em;
  color: white;
  font-size: 50px;

}

  .mainTitle{
    margin: 0em;
    max-width: 900px;
  }


.direction{
background: #000000a0;
padding: 1em;
border-radius: 20px;
width: 100%;
max-width: 900px;
margin: 1em;
margin-top: 0em;
color: white;
font-size: 20px;

}
input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}
.button{

    margin: auto;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: white;
    background: #000000a0;
    font-size: 20px;
}
.results{
background: #000000a0;
padding: 1em;
border-radius: 20px;
width: 100%;
max-width: 900px;
margin: 1em;
color: white;
font-size: 20px;
}

@media only screen and (max-width: 1000px) {
  body {
      display: grid;
      height: -webkit-fill-available;
      background-image: url(https://source.unsplash.com/800x1200/?train);
      background-size: cover;

  }
.title{
  padding: 0.5em;
  margin-left: 0.8em;
}
.mainTitle {
  font-size: 120px;
  margin-bottom: 0em;
}
.direction{
  font-size: 50px;
  margin-left: .1em;
  margin-right: .5em;
}
input[type="radio"] {
    -ms-transform: scale(3); /* IE 9 */
    -webkit-transform: scale(3); /* Chrome, Safari, Opera */
    transform: scale(3);
}
.button{
  width: 300px;
  height: 100px;
  font-size: 50px;
}
.results{
  font-size: 50px;
  margin-left: .1em;
  margin-right: .5em;
}
};
